@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Sabre Hospitality Services</h1>
    <p>This is a sample .Net Core MVC web application.</p>
    <p>App Version: 1.0</p>
</div>
